*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  background: linear-gradient(352deg, #c3c9c6, #72b88a);
}

.calculator {
  /* height: 40rem; */
  width: 30rem;
  border: 0.5rem solid black;
  border-radius: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "disp disp disp"; */
}

.calculator-display {
  width: 100%;
  height: 5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;

  background: black;
  color: white;
  border-style: none;
  font-size: 4rem;
  text-align: right;
}

.calculator-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1.2rem;

  padding: 1.2rem;
}

.calculator-btn {
  height: 3rem;
  border: 1px solid black;
  background-color: transparent;
  font-size: 2rem;
  color: black;
}

.calculator-btn:hover {
  background-color: #eaeaea;
}

.calculator-btn:active {
  background-color: lightgray;
}

.calculator-btn:focus {
  /* not recommended */
  outline: none;
}
/* Grid lines are dividing lines between cols, rows*/
/* grid-column defines on which row-line item will start */
/* it's also shorthand of grid-column-start + grid-column-end */
.btn-clear {
  grid-column: 1 / 4;
}

.btn-0 {
  grid-column: 1 / 3;
}
